* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin-left: -45px;
    margin-right: -15px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bolder;
}

.nav-link {
    letter-spacing: 0.1ch;
}

.navbar-nav {
    text-align: right;
}

.dropdown-item {
    text-align: right;
    color: lightgrey;
    text-align: center;
}

.carousel-caption h5 {
    text-align: start;
    font-weight: 400;
    font-size: 40px;
}

.work-header {
    margin: 30px 60px;
    color: rgb(77, 75, 75);
    h2 {
        font-size: 40px;
    }
}

